<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="text/javascript" src="/_ah/channel/jsapi" ></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<style>
		button.colored {
			padding: 50px;
			font-size: 18px;
			color: white;
		}

		button.blue {
			background-color: blue;
		}

		button.green {
			background-color: green;
		}

		button.purple {
			background-color: purple;
		}
	</style>
	<body data-token="{{ token }}">
		<div>
			<h1>Simon Says</h1>
			<h2 id="round">Round {{ game_round }}</h2>
			<div id="playerCount">There are currently {{ player_count }} players</div>
			<div id="playerNames">Current players: {{ usernames }}</div>
			<div id="leaderText">{{ 'Leader: ' + leader if leader }}</div>
		</div>
		<div>
			<button class="colored purple" onclick="buttonPressed(0)" type="button"></button>
			<button class="colored blue" onclick="buttonPressed(1)" type="button"></button>
			<button class="colored green" onclick="buttonPressed(2)" type="button"></button>
		</div>
		<div><button onclick="submitSequence()" type="button">Submit</button></div>
		<div><a href="{{ url_for('.logoff') }}">Logoff</a><div>
		<script>
			var True = true, False = false;
			var currentSequence = [];
			// remove this eventually, binds the JS to the html template, put in
			// HTML data tag
			var isLeader = {{ leader is none }};
			var sequenceLength;
			var submitSequence = function() {
				if (currentSequence.length < sequenceLength) {
					alert('You need to press ' + (sequenceLength - currentSequence.length) + ' more buttons!');
				} else {
					$.post('/simonsays/submit',
							{'sequence[]': currentSequence.slice(0, sequenceLength)},
							function (data) {
								if (typeof data != 'undefined') {
									var result = data.result;
									$('#leaderText').text(data.message);
								}
								currentSequence = [];
							});
				}
			};
			var buttonPressed = function(index) {
				currentSequence.push(index);
			};
			var lookup = function(curVal, idx, arr) {
				return ['Purple', 'Blue', 'Green'][curVal]
			};
			var onOpened = function() {
				console.log('channel opened');
				requestUpdate('players');
			};
			var onMessage = function(message) {
				var data = JSON.parse(message.data);
				console.log(data['category'] + ' message received');
				switch (data['category']) {
					case 'players':
						var names = data['player_names'];
						var count = data['player_count'];
						$('#playerCount').text('There are currently ' + count + ' players');
						$('#playerNames').text('Current players: ' + names.join([separator=', ']));
						break;
					case 'leader':
						// FIXME: if leader refreshes, then they will lose
						// leader text, perhaps ask server if you're the leader
						// when joining?
						sequenceLength = data['sequence_length'];
						isLeader = true;
						// TODO: put 1 second delay here? maybe only in certain
						// cases
						$('#leaderText').text('You\'re the leader! Please enter a sequence of length ' + sequenceLength + ' and press submit');
						$('#round').text('Round ' + data['round']);
						break;
					case 'follower':
						var leader = data['leader'];
						isLeader = false;
						sequenceLength = data['sequence_length'];
						// TODO: put 1 second delay here? maybe only in certain
						// cases
						$('#leaderText').text('Leader: ' + leader);
						$('#round').text('Round ' + data['round']);
						break;
					case 'copysequence':
						var sequence = data['sequence'];
						$('#leaderText').text('Alright, now repeat after the leader! The sequence is ' + sequence.map(lookup).join(separator=', '));
						break;
					case 'sequencematch':
						// increment score
						break;
					case 'sequencemismatch':
						// shame
						break;
					default:
						alert('server sent message of unknown type: ' + data['category']);
						console.log('server sent message of unknown type: ' +
								data['category']);
				}
			};
			var onError = function(error) {
				console.log('error');
			};
			var onClose = function() {
				console.log('channel closed');
			};
			var requestUpdate = function(category) {
				//$.get('simonsays/requestupdate', {'category': category});
			};
			channel = new goog.appengine.Channel($('body').data('token'));
			socket = channel.open();
			socket.onopen = onOpened;
			socket.onmessage = onMessage;
			socket.onerror = onError;
			socket.onclose = onClose;
		</script>
	</body>

</html>
